# –ü—Ä–æ–µ–∫—Ç: Ad hoc-–∞–Ω–∞–ª–∏–∑ —Ä—ã–Ω–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏  
**–£—á–µ–±–Ω—ã–π –ø—Ä–æ–µ–∫—Ç –∏–∑ –∫—É—Ä—Å–∞ ¬´–ê–Ω–∞–ª–∏—Ç–∏–∫ –¥–∞–Ω–Ω—ã—Ö¬ª ‚Äî –Ø–Ω–¥–µ–∫—Å –ü—Ä–∞–∫—Ç–∏–∫—É–º**

**–ó–∞–∫–∞–∑—á–∏–∫**: –∞–≥–µ–Ω—Ç—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏  
**–¶–µ–ª—å**: –ø–æ–¥–¥–µ—Ä–∂–∞—Ç—å –ø—Ä–∏–Ω—è—Ç–∏–µ –±–∏–∑–Ω–µ—Å-—Ä–µ—à–µ–Ω–∏–π –ø–æ —Å—Ç—Ä–∞—Ç–µ–≥–∏–∏ —Ä–∞–±–æ—Ç—ã –Ω–∞ —Ä—ã–Ω–∫–µ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–∞ –∏ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –¥–∞–Ω–Ω—ã—Ö –∑–∞ 2015‚Äì2018 –≥–≥.

**–ò—Å—Ç–æ—á–Ω–∏–∫ –¥–∞–Ω–Ω—ã—Ö**: —É—á–µ–±–Ω–∞—è –±–∞–∑–∞ `real_estate` (–æ–±—ä—è–≤–ª–µ–Ω–∏—è –æ –ø—Ä–æ–¥–∞–∂–µ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏, —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –æ–±—ä–µ–∫—Ç–æ–≤, –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∏ —Å–Ω—è—Ç–∏—è).

**–ú–µ—Ç–æ–¥–æ–ª–æ–≥–∏—è**:  
- –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –≤—ã–±—Ä–æ—Å–æ–≤ –ø–æ 99-–º—É –∏ 1-–º—É –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—è–º,  
- –°–µ–≥–º–µ–Ω—Ç–∞—Ü–∏—è –ø–æ –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏, –º–µ—Å—è—Ü–∞–º, –ª–æ–∫–∞—Ü–∏—è–º,  
- –†–∞—Å—á—ë—Ç —Å—Ä–µ–¥–Ω–µ–π —Ü–µ–Ω—ã –∑–∞ –º¬≤ –∫–∞–∫ **—Å—Ä–µ–¥–Ω–µ–≥–æ –ø–æ –æ–±—ä—è–≤–ª–µ–Ω–∏—è–º** (`AVG(last_price / total_area)`),  
- –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –º–µ–¥–∏–∞–Ω –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (–∫–æ–º–Ω–∞—Ç—ã, –±–∞–ª–∫–æ–Ω—ã, —ç—Ç–∞–∂–∏).

## –ó–∞–¥–∞—á–∏ –ø—Ä–æ–µ–∫—Ç–∞

1. **–í—Ä–µ–º—è –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π**  
   –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –∫–∞–∫–∏–µ —Å–µ–≥–º–µ–Ω—Ç—ã –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –≤ –°–ü–± –∏ –õ–û –ø—Ä–æ–¥–∞—é—Ç—Å—è –±—ã—Å—Ç—Ä–µ–µ/–¥–æ–ª—å—à–µ, –∏ –≤—ã—è–≤–∏—Ç—å –∫–ª—é—á–µ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ (—Ü–µ–Ω–∞, –ø–ª–æ—â–∞–¥—å, –∏–Ω—Ñ—Ä–∞—Å—Ç—Ä—É–∫—Ç—É—Ä–∞).

2. **–°–µ–∑–æ–Ω–Ω–æ—Å—Ç—å –æ–±—ä—è–≤–ª–µ–Ω–∏–π**  
   –í—ã—è–≤–∏—Ç—å –ø–µ—Ä–∏–æ–¥—ã –ø–∏–∫–æ–≤–æ–π –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ (–ø—É–±–ª–∏–∫–∞—Ü–∏—è –∏ –ø—Ä–æ–¥–∞–∂–∞), –æ—Ü–µ–Ω–∏—Ç—å –≤–ª–∏—è–Ω–∏–µ —Å–µ–∑–æ–Ω–∞ –Ω–∞ —Ü–µ–Ω—ã –∏ –ø–ª–æ—â–∞–¥—å.

3. **–ê–Ω–∞–ª–∏–∑ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏**  
   –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –ª–∏–∫–≤–∏–¥–Ω—ã–µ –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã–µ –ø—É–Ω–∫—Ç—ã: –≥–¥–µ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ–±—ä—è–≤–ª–µ–Ω–∏–π, –≤—ã—à–µ –¥–æ–ª—è –ø—Ä–æ–¥–∞–∂, –∏ –∫–∞–∫–∏–µ –æ–±—ä–µ–∫—Ç—ã —Ç–∞–º –ø—Ä–µ–¥–ª–∞–≥–∞—é—Ç—Å—è.

## –î–∞–Ω–Ω—ã–µ

- **–ü–µ—Ä–∏–æ–¥**: —è–Ω–≤–∞—Ä—å 2015 ‚Äî –¥–µ–∫–∞–±—Ä—å 2018  
- **–†–µ–≥–∏–æ–Ω—ã**: –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥, –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å  
- **–§–∏–ª—å—Ç—Ä–∞—Ü–∏—è**:  
  - –¢–æ–ª—å–∫–æ **–≥–æ—Ä–æ–¥—Å–∫–∏–µ –æ–±—ä—è–≤–ª–µ–Ω–∏—è** (`TYPE = '–≥–æ—Ä–æ–¥'`),  
  - –£–¥–∞–ª–µ–Ω—ã **–≤—ã–±—Ä–æ—Å—ã** –ø–æ –ø–ª–æ—â–∞–¥–∏, –∫–æ–º–Ω–∞—Ç–∞–º, –±–∞–ª–∫–æ–Ω–∞–º, –≤—ã—Å–æ—Ç–µ –ø–æ—Ç–æ–ª–∫–æ–≤ (99-–π –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—å),  
  - –û–±—ä—è–≤–ª–µ–Ω–∏—è —Å `days_exposition IS NULL` –æ—Ç–Ω–µ—Å–µ–Ω—ã –∫ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ **¬´–¥—Ä—É–≥–∏–µ¬ª** ‚Äî –Ω–µ –∏—Å–∫–ª—é—á–µ–Ω—ã –∏–∑ –∞–Ω–∞–ª–∏–∑–∞.  
- **–ú–µ—Ç—Ä–∏–∫–∏**:  
  - –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –∑–∞ –º¬≤,  
  - –ú–µ–¥–∏–∞–Ω–∞ –ø–æ –∫–æ–º–Ω–∞—Ç–∞–º/–±–∞–ª–∫–æ–Ω–∞–º/—ç—Ç–∞–∂–∞–º,  
  - –î–æ–ª—è –ø—Ä–æ–¥–∞–∂, —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—å, —Å–∫–æ—Ä–æ—Å—Ç—å —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏.

In [1]:
# –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd

## –ó–∞–¥–∞—á–∞ 1. –í—Ä–µ–º—è –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π

–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –Ω–∞–∏–±–æ–ª–µ–µ –∏ –Ω–∞–∏–º–µ–Ω–µ–µ –ª–∏–∫–≤–∏–¥–Ω—ã—Ö —Å–µ–≥–º–µ–Ω—Ç–æ–≤ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –≤ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–µ –∏ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –ø–æ –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π.

In [2]:
# SQL-–∑–∞–ø—Ä–æ—Å, –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã–π –≤ DBeaver
sql_task1 = """
-- –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (–≤—ã–±—Ä–æ—Å—ã) –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª–µ–π:
WITH limits AS (
    SELECT  
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY total_area) AS total_area_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY rooms) AS rooms_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY balcony) AS balcony_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY ceiling_height) AS ceiling_height_limit_h,
        PERCENTILE_DISC(0.01) WITHIN GROUP (ORDER BY ceiling_height) AS ceiling_height_limit_l
    FROM real_estate.flats     
),
-- –ù–∞–π–¥—ë–º id –æ–±—ä—è–≤–ª–µ–Ω–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤—ã–±—Ä–æ—Å—ã:
filtered_id AS(
    SELECT id
    FROM real_estate.flats  
    WHERE 
        total_area < (SELECT total_area_limit FROM limits)
        AND (rooms < (SELECT rooms_limit FROM limits) OR rooms IS NULL)
        AND (balcony < (SELECT balcony_limit FROM limits) OR balcony IS NULL)
        AND ((ceiling_height < (SELECT ceiling_height_limit_h FROM limits)
            AND ceiling_height > (SELECT ceiling_height_limit_l FROM limits)) OR ceiling_height IS NULL)
    ), 
-- –ì–æ—Ç–æ–≤–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è
categories AS (
	SELECT 
		fi.id AS id,
		days_exposition,
		last_price,
		last_price/total_area AS avg_pr_sm,
		total_area,
		rooms,
		balcony,
		floor,
		kitchen_area,
		ceiling_height,
		is_apartment,
		parks_around3000,
		ponds_around3000,
		open_plan,
		airports_nearest,
		CASE 
			WHEN city = '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥'
			THEN '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥'
			ELSE '–õ–µ–Ω–û–±–ª'
			END AS region,
		CASE
			WHEN days_exposition IS NULL 
			THEN '–¥—Ä—É–≥–∏–µ'
			WHEN days_exposition <= 30
			THEN '  –¥–æ –º–µ—Å—è—Ü–∞'
			WHEN days_exposition <= 90
			THEN '  –¥–æ —Ç—Ä–µ—Ö –º–µ—Å—è—Ü–µ–≤'
			WHEN days_exposition <= 180
			THEN ' –¥–æ –ø–æ–ª—É–≥–æ–¥–∞'
			ELSE '–±–æ–ª–µ–µ –ø–æ–ª—É–≥–æ–¥–∞'
			END AS activity_segment
	FROM filtered_id AS fi
	INNER JOIN real_estate.flats AS f ON fi.id = f.id
	INNER JOIN real_estate.advertisement AS a ON a.id = f.id
	INNER JOIN real_estate.city AS c USING (city_id)
	INNER JOIN real_estate.TYPE AS t ON f.type_id = t.type_id
	WHERE TYPE = '–≥–æ—Ä–æ–¥' AND first_day_exposition BETWEEN '2015-01-01' and '2018-12-31' 
	)
SELECT 
	region,
	activity_segment,
	count(id) AS ad_count, -- –∫–æ–ª–∏—á–µ—Ç—Å–≤–æ –æ–±—ä—è–≤–ª–µ–Ω–∏–π
	(count(id)::float*100/sum(count(id)) OVER (PARTITION BY region))::numeric(10,1) AS share, -- –¥–æ–ª—è –æ–±—ä—è–≤–ª–µ–Ω–∏–π –≤ —Ä–∞–∑—Ä–µ–∑–µ —Ä–µ–≥–∏–æ–Ω–∞ –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö
	ROUND(AVG(avg_pr_sm::NUMERIC),0) AS avg_pr_sm, -- —Å—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–≥–æ –º–µ—Ç—Ä–∞
	ROUND(avg(total_area)::numeric,1) AS avg_area, -- —Å—Ä–µ–¥–Ω—è—è –ø–ª–æ—â–∞—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã
	ROUND(AVG(kitchen_area)::NUMERIC,2) AS avg_kitchen_area, -- —Å—Ä–µ–¥–Ω—è—è –ø–ª–æ—â–∞–¥—å –∫—É—Ö–Ω–∏
	ROUND(AVG(ceiling_height)::NUMERIC,2) AS avg_ceil_height, -- —Å—Ä–µ–¥–Ω—è—è –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤
	PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY rooms) AS med_room, -- –º–µ–¥–∏–∞–Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–æ–º–Ω–∞—Ç
	PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY balcony) AS med_balcony, -- –º–µ–¥–∏–∞–Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –±–∞–ª–∫–æ–Ω–æ–≤
	PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY floor) AS med_floor, -- –º–µ–¥–∏–∞–Ω–∞ —ç—Ç–∞–∂–∞ –∫–≤–∞—Ä—Ç–∏—Ä—ã
	PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY parks_around3000) AS med_parks, -- –º–µ–¥–∏–∞–Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–∞—Ä–∫–æ–≤ –≤ —Ä–∞–¥–∏—É—Å–µ —Ç—Ä–µ—Ö –∫–∏–ª–æ–º–µ—Ç—Ä–æ–≤
	PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY ponds_around3000) AS med_ponds, -- –º–µ–¥–∏–∞–Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–æ–¥–æ–µ–º–æ–≤ –≤ —Ä–∞–¥–∏—É—Å–µ —Ç—Ä–µ—Ö –∫–∏–ª–æ–º–µ—Ç—Ä–æ–≤
	round(sum(is_apartment)::numeric/count(is_apartment)::NUMERIC*100,2) AS per_apartment,  -- –ø—Ä–æ—Ü–µ–Ω—Ç –∫–≤–∞—Ä—Ç–∏—Ä, —è–≤–ª—è—é—â–∏—Ö—Å—è –∞–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç–∞–º–∏
	round(sum(open_plan)::numeric/count(open_plan)::NUMERIC*100,2) AS per_open_pl,  -- –ø—Ä–æ—Ü–µ–Ω—Ç –∫–≤–∞—Ä—Ç–∏—Ä —Å –æ—Ç–∫—Ä—ã—Ç–æ–π –ø–ª–∞–Ω–∏—Ä–æ–≤–∫–æ–π
	ROUND(AVG(airports_nearest)::NUMERIC,0) AS avg_airport_dist -- —Å—Ä–µ–¥–Ω–µ–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –∞—ç—Ä–æ–ø–æ—Ä—Ç–∞
FROM categories
GROUP BY 
	region,
	activity_segment
ORDER BY 
	region DESC,
	activity_segment;
"""

pd.read_csv("task1_result.csv", encoding="utf-8")

,region,activity_segment,ad_count,share,avg_pr_sm,avg_area,avg_kitchen_area,avg_ceil_height,med_room,med_balcony,med_floor,med_parks,med_ponds,per_apartment,per_open_pl,avg_airport_dist
0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,–¥–æ –º–µ—Å—è—Ü–∞,1794,16.0,108920.0,54.7,10.20,2.76,2,1.0,5,0.0,0.0,0.22,0.28,27515.0
1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,–¥–æ —Ç—Ä–µ—Ö –º–µ—Å—è—Ü–µ–≤,3020,26.9,110874.0,56.6,10.61,2.77,2,1.0,5,0.0,1.0,0.10,0.60,28095.0
2,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,–¥–æ –ø–æ–ª—É–≥–æ–¥–∞,2244,20.0,111974.0,60.5,11.25,2.79,2,1.0,5,0.0,1.0,0.18,0.18,28134.0
3,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,–±–æ–ª–µ–µ –ø–æ–ª—É–≥–æ–¥–∞,3506,31.3,114981.0,65.8,11.84,2.83,2,1.0,5,0.0,1.0,0.14,0.11,27394.0
4,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,–¥—Ä—É–≥–∏–µ,653,5.8,136108.0,81.4,13.94,2.90,3,1.0,4,1.0,1.0,1.07,0.00,27750.0
5,–õ–µ–Ω–û–±–ª,–¥–æ –º–µ—Å—è—Ü–∞,340,12.0,71908.0,48.8,9.16,2.70,2,1.0,4,1.0,1.0,0.59,0.59,32776.0
6,–õ–µ–Ω–û–±–ª,–¥–æ —Ç—Ä–µ—Ö –º–µ—Å—è—Ü–µ–≤,864,30.6,67424.0,50.9,9.03,2.71,2,1.0,3,0.0,1.0,0.12,0.23,36789.0
7,–õ–µ–Ω–û–±–ª,–¥–æ –ø–æ–ª—É–≥–æ–¥–∞,553,19.6,69809.0,51.8,9.06,2.70,2,1.0,3,1.0,1.0,0.00,0.18,33481.0
8,–õ–µ–Ω–û–±–ª,–±–æ–ª–µ–µ –ø–æ–ª—É–≥–æ–¥–∞,873,30.9,68215.0,55.0,9.26,2.72,2,1.0,3,0.0,1.0,0.11,0.00,35284.0
9,–õ–µ–Ω–û–±–ª,–¥—Ä—É–≥–∏–µ,198,7.0,72926.0,62.8,10.70,2.80,2,1.0,3,1.0,0.0,0.51,0.00,31113.0

## –í—ã–≤–æ–¥—ã –ø–æ –ó–∞–¥–∞—á–µ 1. –í—Ä–µ–º—è –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π

### üîπ –ö–ª—é—á–µ–≤—ã–µ —Ä–∞–∑–ª–∏—á–∏—è –º–µ–∂–¥—É —Ä–µ–≥–∏–æ–Ω–∞–º–∏

| –ü–æ–∫–∞–∑–∞—Ç–µ–ª—å | –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥ | –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å |
|-----------|------------------|------------------------|
| **–°–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–æ–¥–∞–∂** | –ß–µ–º **–Ω–∏–∂–µ —Ü–µ–Ω–∞**, —Ç–µ–º –±—ã—Å—Ç—Ä–µ–µ –ø—Ä–æ–¥–∞–∂–∞ | –ß–µ–º **–¥–æ—Ä–æ–∂–µ**, —Ç–µ–º –±—ã—Å—Ç—Ä–µ–µ –ø—Ä–æ–¥–∞–∂–∞ (12% —Ä—ã–Ω–∫–∞) |
| **–¶–µ–Ω–∞ –∑–∞ –º¬≤** | 108‚Äì115 —Ç—ã—Å. ‚ÇΩ | 68‚Äì72 —Ç—ã—Å. ‚ÇΩ |
| **–ü–ª–æ—â–∞–¥—å** | –ë—ã—Å—Ç—Ä–æ: 54.7 –º¬≤, –ú–µ–¥–ª–µ–Ω–Ω–æ: 65.8 –º¬≤ | –ë—ã—Å—Ç—Ä–æ: 48.8 –º¬≤, –ú–µ–¥–ª–µ–Ω–Ω–æ: 55 –º¬≤ |
| **–≠—Ç–∞–∂–Ω–æ—Å—Ç—å** | –°—Ä–µ–¥–Ω—è—è: 5 | –°—Ä–µ–¥–Ω—è—è: 3 |
| **–ò–Ω—Ñ—Ä–∞—Å—Ç—Ä—É–∫—Ç—É—Ä–∞** | –ü–∞—Ä–∫–∏: 0% | –ü–∞—Ä–∫–∏: 50% |

### üîπ –û–±—â–∏–µ –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏
- –í **–æ–±–æ–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö** –±—ã—Å—Ç—Ä–µ–µ –ø—Ä–æ–¥–∞—é—Ç—Å—è **–∫–æ–º–ø–∞–∫—Ç–Ω—ã–µ –∫–≤–∞—Ä—Ç–∏—Ä—ã**.
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç (**–≤ —Å—Ä–µ–¥–Ω–µ–º ‚Äî 2**) –∏ –Ω–∞–ª–∏—á–∏–µ –±–∞–ª–∫–æ–Ω–∞ **–Ω–µ –≤–ª–∏—è—é—Ç** –Ω–∞ —Å–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–æ–¥–∞–∂.
- –≠—Ç–∞–∂–Ω–æ—Å—Ç—å –∏ –ø–∞—Ä–∫–∏ ‚Äî **–Ω–µ –æ–ø—Ä–µ–¥–µ–ª—è—é—â–∏–µ —Ñ–∞–∫—Ç–æ—Ä—ã** –ª–∏–∫–≤–∏–¥–Ω–æ—Å—Ç–∏.

### üîπ –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
- **–°–ü–±**: —Ñ–æ–∫—É—Å –Ω–∞ **—Å—Ä–µ–¥–Ω–µ–º –∏ –Ω–∏–∂–Ω–µ–º —Ü–µ–Ω–æ–≤–æ–º —Å–µ–≥–º–µ–Ω—Ç–µ**, –∫–æ–º–ø–∞–∫—Ç–Ω—ã–µ –∫–≤–∞—Ä—Ç–∏—Ä—ã.
- **–õ–û**: –≤ –ø—Ä–∏–æ—Ä–∏—Ç–µ—Ç–µ **–ø—Ä–µ–º–∏—É–º-—Å–µ–≥–º–µ–Ω—Ç** (–Ω–µ—Å–º–æ—Ç—Ä—è –Ω–∞ –º–µ–Ω—å—à–∏–π –æ–±—ä—ë–º), –æ—Å–æ–±–µ–Ω–Ω–æ –≤ –ú—É—Ä–∏–Ω–æ, –ö—É–¥—Ä–æ–≤–æ, –®—É—à–∞—Ä–∞—Ö.

## –ó–∞–¥–∞—á–∞ 2. –°–µ–∑–æ–Ω–Ω–æ—Å—Ç—å –æ–±—ä—è–≤–ª–µ–Ω–∏–π

–ê–Ω–∞–ª–∏–∑ —Å–µ–∑–æ–Ω–Ω—ã—Ö –∫–æ–ª–µ–±–∞–Ω–∏–π –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏: –∫–æ–≥–¥–∞ —á–∞—â–µ –≤—Å–µ–≥–æ –ø—É–±–ª–∏–∫—É—é—Ç –∏ —Å–Ω–∏–º–∞—é—Ç (–ø—Ä–æ–¥–∞—é—Ç) –æ–±—ä—è–≤–ª–µ–Ω–∏—è.

In [3]:
# SQL-–∑–∞–ø—Ä–æ—Å, –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã–π –≤ DBeaver
sql_task2 = """
-- –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (–≤—ã–±—Ä–æ—Å—ã) –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª–µ–π:
WITH limits AS (
    SELECT  
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY total_area) AS total_area_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY rooms) AS rooms_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY balcony) AS balcony_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY ceiling_height) AS ceiling_height_limit_h,
        PERCENTILE_DISC(0.01) WITHIN GROUP (ORDER BY ceiling_height) AS ceiling_height_limit_l
    FROM real_estate.flats     
),
-- –ù–∞–π–¥—ë–º id –æ–±—ä—è–≤–ª–µ–Ω–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤—ã–±—Ä–æ—Å—ã:
filtered_id AS(
    SELECT id
    FROM real_estate.flats  
    WHERE 
        total_area < (SELECT total_area_limit FROM limits)
        AND (rooms < (SELECT rooms_limit FROM limits) OR rooms IS NULL)
        AND (balcony < (SELECT balcony_limit FROM limits) OR balcony IS NULL)
        AND ((ceiling_height < (SELECT ceiling_height_limit_h FROM limits)
            AND ceiling_height > (SELECT ceiling_height_limit_l FROM limits)) OR ceiling_height IS NULL)
),
-- –í—ã–¥–µ–ª—è–µ–º –º–µ—Å—è—Ü –∏–∑ –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∏ –¥–∞—Ç—ã —Å–Ω—è—Ç–∏—è
seasonality AS (
	SELECT 
		EXTRACT('month' FROM first_day_exposition) AS month_first,
		EXTRACT('month' FROM (first_day_exposition + INTERVAL '1 day' * days_exposition::integer)) AS month_end,
		first_day_exposition,
		days_exposition,
		last_price,
		last_price/total_area AS avg_pr_sm,
		total_area
	FROM filtered_id AS fi
	INNER JOIN real_estate.flats AS f ON fi.id = f.id
	INNER JOIN real_estate.advertisement AS a ON a.id = f.id
	INNER JOIN real_estate.city AS c USING (city_id)
	INNER JOIN real_estate.TYPE AS t ON f.type_id = t.type_id
	WHERE TYPE = '–≥–æ—Ä–æ–¥' AND first_day_exposition BETWEEN '2015-01-01' and '2018-12-31'
),
-- —Å—á–∏—Ç–∞–µ–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –ø–æ –¥–∞—Ç–µ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π
publication_activity AS (
    SELECT 
    	month_first,
        COUNT(*) AS count_pub,
        sum(count(*)) OVER () AS total_count,
        RANK() OVER (ORDER BY COUNT(*) DESC) AS pub_rank,
        ROUND(AVG(avg_pr_sm::NUMERIC),0) AS avg_pr_sm_pub,
        ROUND(AVG(total_area)::NUMERIC,2) AS avg_area_pub
    FROM seasonality
    GROUP BY month_first
),
-- —Å—á–∏—Ç–∞–µ–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –ø–æ –¥–∞—Ç–µ —Å–Ω—è—Ç–∏—è –æ–±—ä—è–≤–ª–µ–Ω–∏–π
removal_activity AS (
    SELECT 
        month_end,
        COUNT(*) AS count_rem,
        sum(count(*)) OVER () AS total_count_rem,
        DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) AS rem_rank,
        ROUND(AVG(avg_pr_sm::NUMERIC),0) AS avg_pr_sm_rem,
        ROUND(AVG(total_area)::NUMERIC,2) AS avg_area_rem
    FROM seasonality
    WHERE days_exposition IS NOT NULL 
    GROUP BY month_end
)
-- —Ñ–æ—Ä–º–∏—Ä—É–µ–º –∏—Ç–æ–≥–æ–≤—É—é —Ç–∞–±–ª–∏—Ü—É
SELECT 
    CASE 
    	WHEN pa.month_first = 1 THEN '—è–Ω–≤'
    	WHEN pa.month_first = 2 THEN '—Ñ–µ–≤'
    	WHEN pa.month_first = 3 THEN '–º–∞—Ä'
    	WHEN pa.month_first = 4 THEN '–∞–ø—Ä'
    	WHEN pa.month_first = 5 THEN '–º–∞–π'
    	WHEN pa.month_first = 6 THEN '–∏—é–Ω'
    	WHEN pa.month_first = 7 THEN '–∏—é–ª'
    	WHEN pa.month_first = 8 THEN '–∞–≤–≥'
    	WHEN pa.month_first = 9 THEN '—Å–µ–Ω'
    	WHEN pa.month_first = 10 THEN '–æ–∫—Ç'
    	WHEN pa.month_first = 11 THEN '–Ω–æ—è'
    	WHEN pa.month_first = 12 THEN '–¥–µ–∫'
    END AS month_pupl, -- –º–µ—Å—è—Ü –ø—É–±–ª–∏–∫–∞—Ü–∏–∏
    pub_rank, -- —Ä–∞–Ω–∂–∏—Ä–æ–≤–∞–Ω–∏–µ –º–µ—Å—è—Ü—É –ø—É–±–ª–∏–∫–∞—Ü–∏–∏
    count_pub, -- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–Ω—ã—Ö –æ–±—ä—è–≤–ª–µ–Ω–∏–π
    ROUND(100*count_pub/total_count::numeric,2) AS avg_per_pub,
    avg_pr_sm_pub, -- —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –∑–∞ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã–π –º–µ—Ç—Ä
    avg_area_pub, -- —Å—Ä–µ–¥–Ω—è—è –ø–ª–æ—â–∞–¥—å –∫–≤–∞—Ä—Ç–∏—Ä
    rem_rank, -- —Ä–∞–Ω–∂–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–æ –º–µ—Å—è—Ü—É –ø—Ä–æ–¥–∞–∂–∏
    count_rem, -- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–≤–∞—Ä—Ç–∏—Ä
    ROUND(100*count_rem/total_count_rem::numeric,2) AS avg_per_rem,
    avg_pr_sm_rem, -- —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –∑–∞ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã–π –º–µ—Ç—Ä –ø—Ä–∏ –ø—Ä–æ–¥–∞–∂–µ
    avg_area_rem -- —Å—Ä–µ–¥—Ä—è—è –ø–ª–æ—â–∞—Ç—å –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–≤–∞—Ä—Ç–∏—Ä
FROM publication_activity AS pa
LEFT JOIN removal_activity AS ra ON pa.month_first = ra.month_end
ORDER BY pa.month_first;
"""

pd.read_csv("task2_result.csv", encoding="utf-8")

,month_pupl,pub_rank,count_pub,avg_per_pub,avg_pr_sm_pub,avg_area_pub,rem_rank,count_rem,avg_per_rem,avg_pr_sm_rem,avg_area_rem
0,—è–Ω–≤,12,735,5.23,106106.0,59.16,4,1225,9.28,104947.0,57.53
1,—Ñ–µ–≤,3,1369,9.75,103059.0,60.10,9,1048,7.94,103884.0,61.12
2,–º–∞—Ä,8,1119,7.97,102430.0,60.00,8,1071,8.12,106832.0,60.37
3,–∞–ø—Ä,10,1021,7.27,102632.0,60.60,10,1031,7.81,102444.0,59.22
4,–º–∞–π,11,891,6.34,102465.0,59.19,12,729,5.53,99724.0,57.78
5,–∏—é–Ω,5,1224,8.71,104802.0,58.37,11,771,5.84,101864.0,59.82
6,–∏—é–ª,7,1149,8.18,104489.0,60.42,7,1108,8.40,102291.0,58.54
7,–∞–≤–≥,6,1166,8.30,107035.0,58.99,6,1137,8.62,100037.0,56.83
8,—Å–µ–Ω,4,1341,9.55,107563.0,61.04,3,1238,9.38,104070.0,57.49
9,–æ–∫—Ç,2,1437,10.23,104065.0,59.43,1,1360,10.31,104317.0,58.86
10,–Ω–æ—è,1,1569,11.17,105049.0,59.58,2,1301,9.86,103791.0,56.71
11,–¥–µ–∫,9,1024,7.29,104775.0,58.84,5,1175,8.91,105505.0,59.26

## –í—ã–≤–æ–¥—ã –ø–æ –ó–∞–¥–∞—á–µ 2. –°–µ–∑–æ–Ω–Ω–æ—Å—Ç—å –æ–±—ä—è–≤–ª–µ–Ω–∏–π

### üîπ –ü–∏–∫ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏
- **–ü—É–±–ª–∏–∫–∞—Ü–∏—è**: –Ω–æ—è–±—Ä—å (1 569), –æ–∫—Ç—è–±—Ä—å (1 437), —Ñ–µ–≤—Ä–∞–ª—å (1 369)  
- **–ü—Ä–æ–¥–∞–∂–∏ (—Å–Ω—è—Ç–∏–µ)**: –æ–∫—Ç—è–±—Ä—å (1 360), –Ω–æ—è–±—Ä—å (1 301), —Å–µ–Ω—Ç—è–±—Ä—å (1 238)  
‚Üí **–û—Å–µ–Ω—å (—Å–µ–Ω—Ç—è–±—Ä—å‚Äì–Ω–æ—è–±—Ä—å)** ‚Äî –ø–∏–∫ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –∏ —Å–ø—Ä–æ—Å–∞.

### üîπ –ù–∏–∑–∫–∏–π —Å–µ–∑–æ–Ω
- **–ú–∞–π** ‚Äî –º–∏–Ω–∏–º—É–º –∏ –ø–æ –ø—É–±–ª–∏–∫–∞—Ü–∏—è–º (891), –∏ –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º (729).  
- **–í–µ—Å–Ω–∞** ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ –∞–∫—Ç–∏–≤–Ω—ã–π –ø–µ—Ä–∏–æ–¥.

### üîπ –¶–µ–Ω—ã –∏ –ø–ª–æ—â–∞–¥—å
- **–¶–µ–Ω—ã —Å—Ç–∞–±–∏–ª—å–Ω—ã**: 102‚Äì105 —Ç—ã—Å. ‚ÇΩ/–º¬≤, –Ω–µ–±–æ–ª—å—à–æ–π —Ä–æ—Å—Ç –≤ —è–Ω–≤–∞—Ä–µ –∏ –∞–≤–≥—É—Å—Ç–µ.
- **–ü–ª–æ—â–∞–¥—å –ª–µ—Ç–æ–º –º–µ–Ω—å—à–µ**: –∞–≤–≥—É—Å—Ç ‚Äî 56.8 –º¬≤, —Å–µ–Ω—Ç—è–±—Ä—å ‚Äî 61.0 –º¬≤.

### üîπ –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
- **–ú–∞—Ä–∫–µ—Ç–∏–Ω–≥ –∏ –∑–∞–ø—É—Å–∫ –æ–±—ä–µ–∫—Ç–æ–≤** ‚Äî **–∞–≤–≥—É—Å—Ç‚Äì—Å–µ–Ω—Ç—è–±—Ä—å**.
- **–ò–∑–±–µ–≥–∞—Ç—å –∫—Ä—É–ø–Ω—ã—Ö –∫–∞–º–ø–∞–Ω–∏–π –≤ –∞–ø—Ä–µ–ª–µ‚Äì–º–∞–µ**.
- –¶–µ–Ω–æ–≤—É—é –ø–æ–ª–∏—Ç–∏–∫—É –º–æ–∂–Ω–æ –æ—Å—Ç–∞–≤–ª—è—Ç—å **—Å—Ç–∞–±–∏–ª—å–Ω–æ–π** ‚Äî —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—å —Å–ª–∞–±–æ –≤–ª–∏—è–µ—Ç –Ω–∞ —Ü–µ–Ω—É.

## –ó–∞–¥–∞—á–∞ 3. –ê–Ω–∞–ª–∏–∑ —Ä—ã–Ω–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏

–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –Ω–∞–∏–±–æ–ª–µ–µ –∞–∫—Ç–∏–≤–Ω—ã—Ö –∏ –ª–∏–∫–≤–∏–¥–Ω—ã—Ö –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–æ–≤ –≤ –õ–û: –≥–¥–µ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ–±—ä—è–≤–ª–µ–Ω–∏–π –∏ –≤—ã—à–µ –¥–æ–ª—è –ø—Ä–æ–¥–∞–∂.

In [4]:
# SQL-–∑–∞–ø—Ä–æ—Å, –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã–π –≤ DBeaver
sql_task3 = """
-- –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (–≤—ã–±—Ä–æ—Å—ã) –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª–µ–π:
WITH limits AS (
    SELECT  
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY total_area) AS total_area_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY rooms) AS rooms_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY balcony) AS balcony_limit,
        PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY ceiling_height) AS ceiling_height_limit_h,
        PERCENTILE_DISC(0.01) WITHIN GROUP (ORDER BY ceiling_height) AS ceiling_height_limit_l
    FROM real_estate.flats     
),
-- –ù–∞–π–¥—ë–º id –æ–±—ä—è–≤–ª–µ–Ω–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤—ã–±—Ä–æ—Å—ã:
filtered_id AS(
    SELECT id
    FROM real_estate.flats  
    WHERE 
        total_area < (SELECT total_area_limit FROM limits)
        AND (rooms < (SELECT rooms_limit FROM limits) OR rooms IS NULL)
        AND (balcony < (SELECT balcony_limit FROM limits) OR balcony IS NULL)
        AND ((ceiling_height < (SELECT ceiling_height_limit_h FROM limits)
            AND ceiling_height > (SELECT ceiling_height_limit_l FROM limits)) OR ceiling_height IS NULL)
), 
-- –ì–æ—Ç–æ–≤–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è
categories AS (
	SELECT 
		fi.id AS id,
		days_exposition,
		last_price,
		last_price/total_area AS avg_pr_sm,
		total_area,
		TYPE,
		city,
		CASE
			WHEN days_exposition IS NULL 
			THEN '0'
			ELSE '1'
			END AS status
	FROM filtered_id AS fi
	INNER JOIN real_estate.flats AS f ON fi.id = f.id
	INNER JOIN real_estate.advertisement AS a ON a.id = f.id
	INNER JOIN real_estate.city AS c USING (city_id)
	INNER JOIN real_estate.TYPE AS t ON f.type_id = t.type_id
	WHERE city != '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥'
),
final_calc AS (
	SELECT 
		city,
		TYPE,
		count(status) AS ad_count, -- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–Ω—ã—Ö –æ–±—ä—è–≤–ª–µ–Ω–∏–π
		sum(status::numeric) AS sales_count, -- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–Ω—è—Ç—ã—Ö —Å –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π
		round(100*sum(status::numeric)/count(status)::NUMERIC,2) AS per_sales, -- –ø—Ä–æ—Ü–µ–Ω—Ç —Å–Ω—è—Ç—ã—Ö —Å –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏–π
		ROUND(AVG(avg_pr_sm::NUMERIC),0) AS avg_pr_sm, -- —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –∑–∞ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã–π –º–µ—Ç—Ä
		ROUND(AVG(total_area)::NUMERIC,2) AS avg_area, -- —Å—Ä–µ–¥–Ω—è—è –ø–ª–æ—â–∞—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã
		ROUND(avg(days_exposition)::numeric,0) AS avg_days_exp, -- —Å—Ä–µ–¥–Ω—è—è –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏—è
		NTILE(4) OVER (ORDER BY avg(days_exposition) DESC) AS group_activ -- –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –¥–Ω–µ–π –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏
	FROM categories
	GROUP BY 
		city,
		TYPE
)
SELECT *
FROM final_calc
WHERE ad_count >= 50
ORDER BY 
	ad_count DESC;
"""

pd.read_csv("task3_result.csv", encoding="utf-8")

,city,type,ad_count,sales_count,per_sales,avg_pr_sm,avg_area,avg_days_exp,group_activ
0,–ú—É—Ä–∏–Ω–æ,–ø–æ—Å—ë–ª–æ–∫,536,532.0,99.25,85598.0,43.67,149.0,3
1,–®—É—à–∞—Ä—ã,–ø–æ—Å—ë–ª–æ–∫,404,374.0,92.57,78832.0,53.93,152.0,3
2,–í—Å–µ–≤–æ–ª–æ–∂—Å–∫,–≥–æ—Ä–æ–¥,356,305.0,85.67,69053.0,55.83,190.0,2
3,–ü–∞—Ä–≥–æ–ª–æ–≤–æ,–ø–æ—Å—ë–ª–æ–∫,311,288.0,92.60,90273.0,51.34,156.0,3
4,–ö—É–¥—Ä–æ–≤–æ,–¥–µ—Ä–µ–≤–Ω—è,294,294.0,100.00,92731.0,46.21,183.0,2
5,–ü—É—à–∫–∏–Ω,–≥–æ—Ä–æ–¥,278,231.0,83.09,104159.0,59.74,197.0,2
6,–ì–∞—Ç—á–∏–Ω–∞,–≥–æ—Ä–æ–¥,228,203.0,89.04,69005.0,51.02,188.0,2
7,–ö–æ–ª–ø–∏–Ω–æ,–≥–æ—Ä–æ–¥,227,209.0,92.07,75212.0,52.55,147.0,3
8,–í—ã–±–æ—Ä–≥,–≥–æ—Ä–æ–¥,192,168.0,87.50,58670.0,56.76,182.0,2
9,–ö—É–¥—Ä–æ–≤–æ,–≥–æ—Ä–æ–¥,169,140.0,82.84,100098.0,46.17,114.0,3
10,–ü–µ—Ç–µ—Ä–≥–æ—Ñ,–≥–æ—Ä–æ–¥,154,136.0,88.31,85412.0,51.77,197.0,2
11,–°–µ—Å—Ç—Ä–æ—Ä–µ—Ü–∫,–≥–æ—Ä–æ–¥,149,134.0,89.93,103848.0,62.45,215.0,2
12,–ö—Ä–∞—Å–Ω–æ–µ –°–µ–ª–æ,–≥–æ—Ä–æ–¥,136,122.0,89.71,71972.0,53.20,206.0,2
13,–ù–æ–≤–æ–µ –î–µ–≤—è—Ç–∫–∏–Ω–æ,–¥–µ—Ä–µ–≤–Ω—è,120,106.0,88.33,76879.0,50.52,176.0,2
14,–°–µ—Ä—Ç–æ–ª–æ–≤–æ,–≥–æ—Ä–æ–¥,117,101.0,86.32,69566.0,53.62,174.0,2
15,–ë—É–≥—Ä—ã,–ø–æ—Å—ë–ª–æ–∫,104,91.0,87.50,80968.0,47.35,156.0,3
16,–í–æ–ª—Ö–æ–≤,–≥–æ—Ä–æ–¥,87,68.0,78.16,34912.0,50.25,164.0,3
17,–õ–æ–º–æ–Ω–æ—Å–æ–≤,–≥–æ—Ä–æ–¥,87,80.0,91.95,71812.0,50.89,230.0,2
18,–ö–∏–Ω–≥–∏—Å–µ–ø–ø,–≥–æ—Ä–æ–¥,84,77.0,91.67,47107.0,52.96,125.0,3
19,–ù–∏–∫–æ–ª—å—Å–∫–æ–µ,–≥–æ—Ä–æ–¥,79,69.0,87.34,57756.0,42.14,237.0,2
20,–°–ª–∞–Ω—Ü—ã,–≥–æ—Ä–æ–¥,79,66.0,83.54,18110.0,48.35,174.0,2
21,–ö—Ä–æ–Ω—à—Ç–∞–¥—Ç,–≥–æ—Ä–æ–¥,70,63.0,90.00,79824.0,54.72,159.0,3
22,–ö–æ–º–º—É–Ω–∞—Ä,–≥–æ—Ä–æ–¥,66,56.0,84.85,57353.0,48.77,236.0,2
23,–Ø–Ω–∏–Ω–æ-1,–≥–æ—Ä–æ–¥—Å–∫–æ–π –ø–æ—Å—ë–ª–æ–∫,64,55.0,85.94,70973.0,48.45,117.0,3
24,–¢–æ—Å–Ω–æ,–≥–æ—Ä–æ–¥,58,54.0,93.10,58804.0,53.80,164.0,3
25,–°—Ç–∞—Ä–∞—è,–¥–µ—Ä–µ–≤–Ω—è,58,50.0,86.21,65615.0,53.70,167.0,3
26,–°–æ—Å–Ω–æ–≤—ã–π –ë–æ—Ä,–≥–æ—Ä–æ–¥,54,47.0,87.04,73938.0,53.60,85.0,4
27,–û—Ç—Ä–∞–¥–Ω–æ–µ,–≥–æ—Ä–æ–¥,53,40.0,75.47,56862.0,53.76,205.0,2

## –í—ã–≤–æ–¥—ã –ø–æ –ó–∞–¥–∞—á–µ 3. –ê–Ω–∞–ª–∏–∑ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏

### üîπ –¢–æ–ø –ª–æ–∫–∞—Ü–∏–π –ø–æ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏
- **–ü–æ –æ–±—ä—ë–º–∞–º**: –ú—É—Ä–∏–Ω–æ (536), –®—É—à–∞—Ä—ã (404), –í—Å–µ–≤–æ–ª–æ–∂—Å–∫ (356)  
- **–ü–æ —Å–∫–æ—Ä–æ—Å—Ç–∏ –ø—Ä–æ–¥–∞–∂**: –ö—É–¥—Ä–æ–≤–æ (100%), –ú—É—Ä–∏–Ω–æ (99.25%), –ö–æ–ª–ø–∏–Ω–æ (92.07%)

### üîπ –¶–µ–Ω–æ–≤–æ–π –¥–∏–∞–ø–∞–∑–æ–Ω ‚Äî —Ä–∞–∑–±—Ä–æ—Å –≤ 5.7 —Ä–∞–∑!
- **–î–æ—Ä–æ–≥–æ**: –ü—É—à–∫–∏–Ω (104 —Ç—ã—Å. ‚ÇΩ/–º¬≤), –°–µ—Å—Ç—Ä–æ—Ä–µ—Ü–∫ (104 —Ç—ã—Å.)
- **–î—ë—à–µ–≤–æ**: –°–ª–∞–Ω—Ü—ã (18 —Ç—ã—Å. ‚ÇΩ/–º¬≤), –í–æ–ª—Ö–æ–≤ (35 —Ç—ã—Å.)

### üîπ –°–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–æ–¥–∞–∂
- **–ë—ã—Å—Ç—Ä–æ**: –°–æ—Å–Ω–æ–≤—ã–π –ë–æ—Ä (85 –¥–Ω–µ–π), –ö–∏–Ω–≥–∏—Å–µ–ø–ø (114 –¥–Ω–µ–π)  
- **–ú–µ–¥–ª–µ–Ω–Ω–æ**: –ù–∏–∫–æ–ª—å—Å–∫–æ–µ (237 –¥–Ω–µ–π), –ö–æ–º–º—É–Ω–∞—Ä (236 –¥–Ω–µ–π)

### üîπ –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
- **–§–æ–∫—É—Å –Ω–∞ –ú—É—Ä–∏–Ω–æ, –®—É—à–∞—Ä—ã, –ö—É–¥—Ä–æ–≤–æ** ‚Äî –≤—ã—Å–æ–∫–∞—è –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å + —Å–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–æ–¥–∞–∂.
- –í **–¥–æ—Ä–æ–≥–∏—Ö –ª–æ–∫–∞—Ü–∏—è—Ö** (–ü—É—à–∫–∏–Ω, –°–µ—Å—Ç—Ä–æ—Ä–µ—Ü–∫) ‚Äî –ø–æ–¥–∞–≤–∞—Ç—å **–ø—Ä–µ–º–∏—É–º-–ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ**.
- –í **–Ω–∏–∑–∫–æ–±—é–¥–∂–µ—Ç–Ω—ã—Ö** (–°–ª–∞–Ω—Ü—ã, –í–æ–ª—Ö–æ–≤) ‚Äî —Ñ–æ–∫—É—Å –Ω–∞ **—Å–æ—Ü–∏–∞–ª—å–Ω—É—é –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å**.
- –£—á–∏—Ç—ã–≤–∞—Ç—å **–ª–æ–∫–∞–ª—å–Ω—É—é —Å–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–æ–¥–∞–∂**: –≤ –ù–∏–∫–æ–ª—å—Å–∫–æ–º ‚Äî –æ–∂–∏–¥–∞—Ç—å –¥–ª–∏–Ω–Ω—ã–π —Ü–∏–∫–ª.

## –û–±—â–∏–µ –≤—ã–≤–æ–¥—ã –∏ —Å—Ç—Ä–∞—Ç–µ–≥–∏—á–µ—Å–∫–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏

### üîπ –†—ã–Ω–æ–∫ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–∞
- **–ö–ª–∞—Å—Å–∏—á–µ—Å–∫–∞—è –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å**: —á–µ–º –Ω–∏–∂–µ —Ü–µ–Ω–∞ –∏ –ø–ª–æ—â–∞–¥—å ‚Äî —Ç–µ–º –±—ã—Å—Ç—Ä–µ–µ –ø—Ä–æ–¥–∞–∂–∞.  
- **–§–æ–∫—É—Å**: –∫–æ–º–ø–∞–∫—Ç–Ω—ã–µ (54‚Äì55 –º¬≤), –Ω–µ–¥–æ—Ä–æ–≥–∏–µ –∫–≤–∞—Ä—Ç–∏—Ä—ã (–¥–æ 109 —Ç—ã—Å. ‚ÇΩ/–º¬≤).  
- **–ù–µ –≤–ª–∏—è—é—Ç**: —ç—Ç–∞–∂–Ω–æ—Å—Ç—å, –ø–∞—Ä–∫–∏, –±–∞–ª–∫–æ–Ω—ã.

### üîπ –†—ã–Ω–æ–∫ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏
- **–ü–∞—Ä–∞–¥–æ–∫—Å**: –±—ã—Å—Ç—Ä–µ–µ –ø—Ä–æ–¥–∞—é—Ç—Å—è **–±–æ–ª–µ–µ –¥–æ—Ä–æ–≥–∏–µ** –æ–±—ä–µ–∫—Ç—ã (–¥–æ 72 —Ç—ã—Å. ‚ÇΩ/–º¬≤).  
- **–§–æ–∫—É—Å**: –ø—Ä–µ–º–∏—É–º-—Å–µ–≥–º–µ–Ω—Ç –≤ –ú—É—Ä–∏–Ω–æ, –ö—É–¥—Ä–æ–≤–æ, –®—É—à–∞—Ä–∞—Ö.  
- **–õ–æ–∫–∞—Ü–∏–∏**: –≤—ã—Å–æ–∫–∞—è —Å–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–æ–¥–∞–∂ (–¥–æ 99‚Äì100%) –≤ –ø—Ä–∏–≥–æ—Ä–æ–¥–Ω—ã—Ö –ø–æ—Å—ë–ª–∫–∞—Ö.

### üîπ –°–µ–∑–æ–Ω–Ω–æ—Å—Ç—å
- **–ü–∏–∫ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏**: —Å–µ–Ω—Ç—è–±—Ä—å‚Äì–Ω–æ—è–±—Ä—å ‚Äî –∑–∞–ø—É—Å–∫–∞—Ç—å –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ –∏ –≤—ã–≤–æ–¥–∏—Ç—å –æ–±—ä–µ–∫—Ç—ã.  
- **–ù–∏–∑–∫–∏–π —Å–µ–∑–æ–Ω**: –º–∞–π ‚Äî –∏–∑–±–µ–≥–∞—Ç—å –∫—Ä—É–ø–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π.  
- **–¶–µ–Ω—ã —Å—Ç–∞–±–∏–ª—å–Ω—ã** ‚Äî —Å–µ–∑–æ–Ω –Ω–µ —Ç—Ä–µ–±—É–µ—Ç –∫–æ—Ä—Ä–µ–∫—Ü–∏–∏ –ø—Ä–∞–π—Å–∞.

### üîπ –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –∑–∞–∫–∞–∑—á–∏–∫—É
1. **–ê–¥–∞–ø—Ç–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–æ–≤—É—é –ø–æ–ª–∏—Ç–∏–∫—É –ø–æ–¥ —Ä–µ–≥–∏–æ–Ω**:  
   - –°–ü–± ‚Üí —Å—Ä–µ–¥–Ω–∏–π/–±—é–¥–∂–µ—Ç–Ω—ã–π —Å–µ–≥–º–µ–Ω—Ç,  
   - –õ–û ‚Üí –ø—Ä–µ–º–∏—É–º –≤ —Ç–æ–ø-–ª–æ–∫–∞—Ü–∏—è—Ö.
2. **–§–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç**: –∫–æ–º–ø–∞–∫—Ç–Ω—ã–µ 1‚Äì2-–∫–æ–º–Ω–∞—Ç–Ω—ã–µ –∫–≤–∞—Ä—Ç–∏—Ä—ã ‚Äî —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π –≤—ã–±–æ—Ä.
3. **–ü–ª–∞–Ω–∏—Ä–æ–≤–∞—Ç—å –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –ø–æ —Å–µ–∑–æ–Ω—É**: –≤—Ö–æ–¥ –Ω–∞ —Ä—ã–Ω–æ–∫ ‚Äî –≤ –∞–≤–≥—É—Å—Ç–µ, –∞–∫—Ç–∏–≤–Ω—ã–µ –ø—Ä–æ–¥–∞–∂–∏ ‚Äî –æ—Å–µ–Ω—å—é.
4. **–°–ª–µ–¥–∏—Ç—å –∑–∞ –ª–æ–∫–∞–ª—å–Ω—ã–º–∏ —Ç—Ä–µ–Ω–¥–∞–º–∏**: –≤ –õ–û –≤–æ–∑–º–æ–∂–Ω—ã —Ä–µ–∑–∫–∏–µ —Ä–∞–∑–ª–∏—á–∏—è –¥–∞–∂–µ –º–µ–∂–¥—É —Å–æ—Å–µ–¥–Ω–∏–º–∏ –ø–æ—Å—ë–ª–∫–∞–º–∏.

> **–ò—Ç–æ–≥**: –µ–¥–∏–Ω–∞—è —Å—Ç—Ä–∞—Ç–µ–≥–∏—è –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –¢—Ä–µ–±—É–µ—Ç—Å—è **–¥–∏—Ñ—Ñ–µ—Ä–µ–Ω—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –ø–æ–¥—Ö–æ–¥** –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º, –ª–æ–∫–∞—Ü–∏—è–º –∏ –≤—Ä–µ–º–µ–Ω–∏ –≥–æ–¥–∞.